.home {
  height: 100vh;

  &__background {
    background-image: linear-gradient(to bottom, #efdfac, #e4d295, #d9c67f, #cdba68, #c1ae51, #bf9541, #bb7d38, #b36433, #9c3f42, #74284a, #421d46, #0b1233);
  }

  &__frame {
    border: 1px solid grey;
    padding: 1%;
    z-index: 100;
  }

  &__frame-box {
    border: 4px solid grey;
    width: 100%;
    height: 100%;
  }

  &__greeting-intro {
    display: flex;
    justify-content: center;
    width: 80%;

    @media only screen and (max-width: 768px) {
      font-size: 40px;
    }
  }

  &__greeting-msg {
    display: flex;
    justify-content: flex-start;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      margin-top: 20%;
    }
  }

  &__greeting-content, &__greeting-content-hi {
    display: flex;
    font-size: 60px;

    .abbr {
      margin-right: 8px;
    }

    @media only screen and (max-width: 768px) {
      font-size: 24px;
    }
  }

  &__greeting-arrow {
    display: flex;
  }

  &__intro-message-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__intro-message {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  &__intro-message-title {
    font-size: 60px;

    @media only screen and (max-width: 768px) {
      font-size: 30px;
    }
  }

  &__intro-message-subtitle {
    font-size: 35px;
    text-align: center;

    @media only screen and (max-width: 768px) {
      font-size: 20px;
    }
  }

  &__sehee-main {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 8%;
    z-index: 1;
  }

  &__sehee-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    @media only screen and (max-width: 768px) {
      align-items: flex-end;
    }
  } 

  &__sehee {
    width: 32%;

    @media only screen and (max-width: 768px) {
      width: 70%;
      margin-left: 6%;
    }
  }

  &__yam-container {
    display: flex;
    align-items: flex-end;
    z-index: 30;
  }

  &__yam {
    width: 18%;
    margin-left: 20%;
    margin-bottom: 3%;
  }

  &__mango-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 3;
  }

  &__mango {
    width: 30%;
    margin-bottom: 0.5%;
    margin-right: 9%;
  }

  &__desk-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
  }

  &__keyboard-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 3;
  }

  &__keyboard {
    width: 28%;
    margin-bottom: 4%;
  }

  &__coffee-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 3;
  }

  &__intro {
    display: flex;
    justify-content: center;
  }
}

.arrow span{
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  transform: rotate(45deg);
  animation: animate 2s infinite;

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.arrow span:nth-child(2){
  animation-delay: -0.2s;
}

.arrow span:nth-child(3){
  animation-delay: -0.4s;
}