.container-skills {
  text-align: center;

}

.skill-panel {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  /* margin-top: 100px; */
  margin: 100px;
}

.skill-items img {
  height: 70px;
  width: 70px;
  border: 1px;
  position: relative;
  /* margin: 2%; */
  overflow: hidden;
}

.title-tech, .title-personal {
  text-align: left;
  margin-left: 100px;
  font-size: 30px;
}

.box-container {
  display: flex;
  flex-direction: auto auto;
  align-self: center;
}

.box-items {
  border: 1px solid;
  height: 500px;
  width: 400px;
}
