.container-skills {
  text-align: center;
}

.skill-panel {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  /* margin-top: 100px; */
}

.skill-items img {
  height: 70px;
  width: 70px;
  border: 1px;
  position: relative;
  /* margin: 2%; */
  overflow: hidden;
}

.skills-sets {
  border: 1px solid red;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: auto auto auto auto;
  margin-top: 30px;
}

.skills-sets-items {
  height: 300px;
  width: 300px;
  border: 1px solid blue;
  margin: auto;
  padding-top: 20px;
}

.title-sub {
  font-size: 25px;
}

.skill-list {
  list-style-type: none;
  border: 1px solid green;
  text-align: center;
  margin-right: 30px;
}
