.main {
  margin-bottom: 100px;
  padding: 40px;
}

.intro {
  height: 240px;
  font-size: 50px;
  /* border: 1px solid; */
  padding: 140px 100px 40px 100px;
}

.title {
  font-weight: 200;
  /* margin: 0.4em 0; */
  /* font-size: 3.5em; */
  /* border: 1px solid red; */
}


.container-summary {
  padding: 10px 40px;
}

.summary {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin: 40px 40px 20px 40px;
  padding: 10px 50px;
}

.one {
  margin-top: 100px;
}

.container-icon {
  display: flex;
  flex-direction: auto auto auto;
  justify-content: center;
  margin-top: 50px;
}
.icon {
  height: 120px;
  width: 120px;
  /* border: 1px solid; */
  margin: 20px 40px;
  /* align-items: center;
  justify-content: center; */
}

.icon img {
  height: 100px;
  margin-top: 5px;
  margin-left: 7px;
}
.bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.icon {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}


.secondP {
  margin-top: 100px;
  /* display: inline; */
}

.top {
  margin-bottom: -96px;
}

.icont {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 1px solid ;
  height: 150px;
  width: 150px;
  margin-right: 60px
}

.bottom {
  margin-top: -46px;
  margin-bottom: 60px;
}

.text {
  width: 200px;
  height: 200px;
  padding-top: 60px;
  padding-left: 25px;
  /* display: table-cell; */
  vertical-align: middle;
  color: red;
  text-align: center;
  /* font-family: 'Open Sans', sans-serif; */
  font-size: 18px;
  text-transform: uppercase;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#app {
  height: 80px;
  padding-top: -80px;
}

.img {
  padding-top: 30px;
  padding-right: 20px;
  vertical-align: middle;
  color: red;
  text-align: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.icont {
    opacity:0.5;
    /* background:#676470; */
    transition:all 0.3s ease;
}
.icont:hover{
    opacity:1;
}


/* .pictureOne {
  border: 1px solid;
  width: 60px;
  height: 60px;
  border-bottom: solid 10px rgb(200,30,50);
  border-right: solid 10px rgb(200,30,50);
  border-left: solid 10px transparent;
  border-top: solid 10px transparent;
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;

} */
