


.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.item-list {
  display: flex;
  justify-content: flex-start;
}

#logo {
  margin: 40px;
  margin-left: 60px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: red;
}
.dot {
  color: red;
}

.nav-item {
  padding: 10px 10px 0 10px;
  margin: 65px 30px 50px 30px;
}

.nav-item:hover {
  border-bottom: 2px solid #fdc400;
}

.item-list {
  margin-right: 40px;
  font-size: 20px;
}

.link:visited {
  color: black;
}

@media only screen and (max-width: 600px) {

  body {
    /* background-color: lightblue; */
  }

  .navbar {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 0px;
  }
  .nav-list {

  }

  .item-list {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    font-size: 20px;
  }

  #logo {
    margin: 15px;
    /* margin-left: 30px; */
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: red;
    /* padding: 10px; */
  }
  .dot {
    color: red;
  }

  .item-list {
    text-align: center;
  }

  .nav-item {
    padding: 2px;
    margin: 10px 30px;
  }

  .nav-item:hover {
    border-bottom: 2px solid #fdc400;
  }

  .link:visited {
    color: black;
  }
}
