.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.item-list {
  display: flex;
  justify-content: flex-start;
}

#logo {
  margin: 40px;
  margin-left: 60px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: red;
  /* padding: 10px; */
}
.dot {
  color: red;
}

.nav-item {
  padding: 10px 10px 0 10px;
  margin: 30px 30px 50px 30px;
}

.nav-item:hover {
  border-bottom: 2px solid blue;
}

.item-list {
  margin-right: 40px;
  font-size: 20px;
}
