.project-container {

}

.project-items {
  display: flex;
  flex-direction: auto auto;
  padding: 10px;
  /* margin-left: 200px; */

}

.project-item-one, .project-item-two, .project-item-three {
  margin: 30px 40px;
  display: inline;
  /* border: 1px solid green; */
  width: 600px;
  text-align: right;
}

.project-one, .project-three {
    text-align: left;
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 80px;
}

.project-title {
  font-size: 45px;
  margin-left: 20px;
  text-align: left;
}

.project-tech-stack {
  margin-left: 20px;
  text-align: left;
  margin-top: 15px;
}

.tech-stack {
  border: 1px solid #dbdbd5;
  padding: 2px;
  background-color: #dbdbd5;
}
.project-description {
  font-size: 16px;
  /* border: 1px solid blue; */
  width: 530px;
  margin: 20px 20px;
  text-align: left;
}

.project-two {
  text-align: right;
  padding-right: 170px;
}

.project-title-two {
  font-size: 45px;
  margin-right: 40px;
}

.project-tech-stack-two {
  margin-right: 40px;
  margin-top: 15px;
}

.project-description-two {
  font-size: 16px;
  /* border: 1px solid blue; */
  width: 530px;
  margin: 20px 20px;
  text-align: left;
}


.panel {
  display: inline-grid;
  grid-template-columns: auto;
  /* margin-top: 100px; */
  /* border: 1px solid red; */
  width: 1000px;
}


.frame {
  height: 300px;
  width: 300px;
  border: 1px;
  position: relative;
  margin: 2%;
  overflow: hidden;
}

.frame:hover img {
  /* transform: scale(1.05); */
  /* opacity: 0.2; */
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.frame img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 300px;
  width: 300px;
}

.links {
  text-align: center;
}

.hightlight {
  font-weight: bold;
}
